.container-trailer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(14, 14, 14, 0.5);
    z-index: 9999999999;
}

.modal-trailer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;
    border-radius: 8px;
    width: 680px;
    height: 540px;
    background-color: rgb(7, 7, 7);
}

.buttonsAndAbout {
    padding: 15px 30px 5px 30px
}



.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;

}

.actions {
    display: flex;
    gap: 7px;
}


.avaliation, .addIcon{
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-color: #CBD2D2;
    border-width: 2px;
    transition: all 0.2s  ease-in-out;
}

.avaliation:hover,
 .addIcon:hover{
    border-color: aliceblue;
}


.playIcon, .addIcon, .likeIcon, .moreIcon, .avaliation {
    cursor: pointer;
}

.playIcon{
    width: 37px;
    height: 37px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.unlikeIcon {
    display: none;
}


.votos {
    display: inline-block;
    color: #46d369
}

.releaseDate {
    display: inline-block;
    padding: 0 0 15px 15px;
}